{
  "swagger": "2.0",
  "info": {
    "version": "2.1.10",
    "title": "Agave Platform Science API",
    "description": "Power your digital lab and reduce the time from theory to discovery using the Agave Science-as-a-Service API Platform. Agave provides hosted services that allow researchers to manage data, conduct experiments, and publish and share results from anywhere at any time.",
    "license": {
      "name": "BSD 2-Clause",
      "url": "https://opensource.org/licenses/BSD-2-Clause"
    }
  },
  "host": "agave.iplantc.org",
  "basePath": "/",
  "securityDefinitions": {
    "auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://public.agaveapi.co/authorize",
      "tokenUrl": "https://public.agaveapi.co/token",
      "scopes": {
      	"PRODUCTION": "Catchall scope for all core services"
      }
    },
    "basic": {
			"type": "basic"
		}
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/clients/v2/": {
      "get": {
        "description": "List existing clients",
        "tags": [
          "clients"
        ],
        "operationId": "listClients",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MultipleClientResponse"
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "post": {
        "description": "Create a new client",
        "tags": [
          "clients"
        ],
        "operationId": "addClient",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The api client to create",
            "schema": {
              "$ref": "#/definitions/ClientRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SingleClientResponse"
            }
          },
          "400": {
            "description": "Raised if a user supplies an invalid username format"
          },
          "403": {
            "description": "Failed to authenticate the user"
          },
          "404": {
            "description": "The user profile cannot be found"
          },
          "default": {
            "description": "The service was unable to query the profile database"
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      }
    },
    "/clients/v2/{clientName}": {
      "get": {
        "description": "Returns a detailed description of a named client.",
        "tags": [
          "clients"
        ],
        "operationId": "getClient",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clientName",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The name of the client to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MultipleClientResponse"
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "delete": {
        "description": "Immediately deletes this client and renders the API keys useless.",
        "tags": [
          "clients"
        ],
        "operationId": "deleteClient",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clientName",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The name of the client to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyClientResponse"
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      }
    },
    "/clients/v2/{clientName}/subscriptions": {
      "get": {
        "description": "Lists all APIs to which the client is subscribed",
        "tags": [
          "clients"
        ],
        "operationId": "listClientApiSubscriptions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clientName",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The name of the client to be deleted"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 100.0,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of results returned from this query"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 0.0,
            "type": "integer",
            "format": "int64",
            "description": "The number of results skipped in the result set returned from this query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MultipleSubscriptionResponse"
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "post": {
        "description": "Add a new API subscription to the given client",
        "tags": [
          "clients"
        ],
        "operationId": "addClientAPISubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clientName",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The name of the client to be subscribe to this api"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The api client to create",
            "schema": {
              "$ref": "#/definitions/ClientSubscriptionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SingleSubscriptionResponse"
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "delete": {
        "description": "Unsubscribe the client from all APIs",
        "tags": [
          "clients"
        ],
        "operationId": "clearClientAPISubscriptions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clientName",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The name of the client to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyClientResponse"
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      }
    },
    "/apps/v2/": {
      "get": {
        "summary": "List apps",
	      "description": "Get a list of available applications.",
        "tags": [
          "apps"
        ],
        "operationId": "listApps",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "public",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "boolean",
            "description": "Whether to return only public apps. (Acceptable values are: \"true\", \"false\")"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The name of the app"
          },
          {
            "name": "executionSystem",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The execution system of the system"
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "A free text tag associated with an app"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 100.0,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of results returned from this query"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 0.0,
            "type": "integer",
            "format": "int64",
            "description": "The number of results skipped in the result set returned from this query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationSummary"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Register and update new applications.",
        "tags": [
          "apps"
        ],
        "operationId": "addApp",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "x-is-map": false,
            "description": "The description of the app to add or update. ",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/apps/v2/{appId}": {
      "get": {
        "description": "Get details of an application by it's unique id.",
        "tags": [
          "apps"
        ],
        "operationId": "getAppDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the application. The application id is made up of the name and version separated by a dash."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "put": {
        "description": "Edit an application.",
        "tags": [
          "apps"
        ],
        "operationId": "invokeAppAction",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the application. The application id is made up of the name and version separated by a dash."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The operation to perform.",
            "schema": {
              "$ref": "#/definitions/ApplicationAction"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Update an application.",
        "tags": [
          "apps"
        ],
        "operationId": "updateApp",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the application. The application id is made up of the name and version separated by a dash."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The description of the app to add or update. ",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "delete": {
        "description": "Deletes an application.",
        "tags": [
          "apps"
        ],
        "operationId": "deleteApp",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the application. The application id is made up of the name and version separated by a dash."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/apps/v2/{appId}/pems": {
      "get": {
        "description": "Get the permission for this application.",
        "tags": [
          "apps"
        ],
        "operationId": "listAppPermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the application. The application id is made up of the name and version separated by a dash."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 100.0,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of results returned from this query"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 0.0,
            "type": "integer",
            "format": "int64",
            "description": "The number of results skipped in the result set returned from this query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Permission"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Grant a user permission for an application.",
        "tags": [
          "apps"
        ],
        "operationId": "addAppPermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the application. The application id is made up of the name and version separated by a dash."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The permission add or update. ",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "delete": {
        "description": "Deletes all permissions on an application.",
        "tags": [
          "apps"
        ],
        "operationId": "clearAppPermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the application. The application id is made up of the name and version separated by a dash."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/apps/v2/{appId}/pems/{username}": {
      "get": {
        "description": "Get a specific user's permissions for an application.",
        "tags": [
          "apps"
        ],
        "operationId": "getAppPermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the application. The application id is made up of the name and version separated by a dash."
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The username of the api user associated with the permission."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Add or update a user's permission for an application.",
        "tags": [
          "apps"
        ],
        "operationId": "updateAppPermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the application. The application id is made up of the name and version separated by a dash."
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The username of the api user associated with the permission"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The permission add or update. ",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "delete": {
        "description": "Deletes all permissions for the given user on an application.",
        "tags": [
          "apps"
        ],
        "operationId": "deleteAppPermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the application. The application id is made up of the name and version separated by a dash."
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The username of the api user associated with the permission"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/apps/v2/{appId}/form": {
      "get": {
        "description": "Get a submission form for the named application.",
        "tags": [
          "apps"
        ],
        "operationId": "getAppSubmissionForm",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The app for which to create the form"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/files/v2/media/{path}": {
      "get": {
        "description": "Download a file from the user's default storage location.",
        "tags": [
          "files"
        ],
        "operationId": "downloadFileItemOnDefaultSystem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The path of the file relative to the user's default storage location."
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": false,
            "type": "boolean",
            "description": "Boolean flag to indicate whether the Content-Disposition header should be set to force browser file download."
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "put": {
        "description": "Perform an action on a file or folder.",
        "tags": [
          "files"
        ],
        "operationId": "invokeFileActionOnDefaultSystem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The path of the file relative to the user's default storage location."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The operation to perform. ",
            "schema": {
              "$ref": "#/definitions/FileAction"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Import file item from a remote URL to the target system",
        "tags": [
          "files"
        ],
        "operationId": "importFileItemToDefaultSystem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The relative or absolute path where the file item should be imported"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The import request",
            "schema": {
              "$ref": "#/definitions/FileImportRequest"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": "true",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FileInfo"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "delete": {
        "description": "Deletes a file or folder on the user's default storage system.",
        "tags": [
          "files"
        ],
        "operationId": "deleteFileItemOnDefaultSystem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The path of the file relative to the user's default storage location."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/files/v2/media/system/{systemId}/{path}": {
      "get": {
        "description": "Download a file from the given system",
        "tags": [
          "files"
        ],
        "operationId": "downloadFileItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The unique id of the system on which the data resides."
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The path of the file relative to the user's default storage location."
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": false,
            "type": "boolean",
            "description": "Boolean flag to indicate whether the Content-Disposition header should be set to force a browser download."
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "put": {
        "description": "Perform an action on a file or folder.",
        "tags": [
          "files"
        ],
        "operationId": "invokeFileItemAction",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The unique id of the system on which the data resides."
          },
          {
            "name": "path",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The path of the file relative to the user's default storage location."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The operation to perform. ",
            "schema": {
              "$ref": "#/definitions/FileAction"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Import file item from a remote URL to the target system",
        "tags": [
          "files"
        ],
        "operationId": "importFileItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the system."
          },
          {
            "name": "path",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The relative or absolute path where the file item should be imported"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The import request",
            "schema": {
              "$ref": "#/definitions/FileImportRequest"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FileInfo"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "delete": {
        "description": "Deletes a file or folder at the specified path on the specified remote system.",
        "tags": [
          "files"
        ],
        "operationId": "deleteFileItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The unique id of the system on which the data resides."
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The path of the file relative to the user's default storage location."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/files/v2/listings/system/{systemId}/{path}": {
      "get": {
        "description": "Get a remote directory listing on a specific system.",
        "tags": [
          "files"
        ],
        "operationId": "listFileItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The unique id of the system on which the data resides."
          },
          {
            "name": "path",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The path of the file relative to the user's default storage location."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 100.0,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of results returned from this query"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 0.0,
            "type": "integer",
            "format": "int64",
            "description": "The number of results skipped in the result set returned from this query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FileInfo"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/files/v2/pems/{path}": {
      "get": {
        "description": "List all the share permissions for a file or folder.",
        "tags": [
          "files"
        ],
        "operationId": "listFileItemPermissionsOnDefaultSystem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The path of the file relative to the user's default storage location."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 100.0,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of results returned from this query"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 0.0,
            "type": "integer",
            "format": "int64",
            "description": "The number of results skipped in the result set returned from this query"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FilePermission"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Update permissions for a single user on their default storage system.",
        "tags": [
          "files"
        ],
        "operationId": "updateFileItemPermissionsOnDefaultSystem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The path of the file relative to the user's default storage location."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The permission add or update. ",
            "schema": {
              "$ref": "#/definitions/FilePermissionRequest"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FilePermission"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/files/v2/pems/system/{systemId}/{path}": {
      "get": {
        "description": "List all the share permissions for a file or folder.",
        "tags": [
          "files"
        ],
        "operationId": "listFileItemPermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The path of the file relative to the user's default storage location."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 100.0,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of results returned from this query"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 0.0,
            "type": "integer",
            "format": "int64",
            "description": "The number of results skipped in the result set returned from this query"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          },
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The system id"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FilePermission"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Update permissions for a single user.",
        "tags": [
          "files"
        ],
        "operationId": "updateFileItemPermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The path of the file relative to the user's default storage location."
          },
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the system on which the file resides"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The updated permission value",
            "schema": {
              "$ref": "#/definitions/PermissionRequest"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FilePermission"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "delete": {
        "description": "Deletes all permissions on a file except those of the owner.",
        "tags": [
          "files"
        ],
        "operationId": "clearFileItemPermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The path of the file relative to the user's default storage location."
          },
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the system on which the file item lives."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/jobs/v2/": {
      "get": {
        "description": "Get a list of jobs the authenticated user had submitted.",
        "tags": [
          "jobs"
        ],
        "operationId": "listJobs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the app run by the job."
          },
          {
            "name": "archive",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": "true",
            "type": "string",
            "description": "Boolean flag stating whether the job output was archived. (Acceptable values are: \"true\", \"false\")"
          },
          {
            "name": "archivePath",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "Path on the archive system where the job output was archived if the archive flag was true."
          },
          {
            "name": "archiveSystem",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the system where the job output was archived if the archive flag was true."
          },
          {
            "name": "batchQueue",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The system queue in which the job ran."
          },
          {
            "name": "executionSystem",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The execution system where the job ran."
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the job."
          },
          {
            "name": "inputs",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The job inputs. Note, this is a partial text search."
          },
          {
            "name": "localId",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The local job id of the job on the execution system."
          },
          {
            "name": "maxRuntime",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The maximum run time of the job in HH:mm:ss format."
          },
          {
            "name": "memoryPerNode",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The memory requested by the job specified in GB."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The name of the job."
          },
          {
            "name": "nodeCount",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "integer",
            "format": "int64",
            "description": "The number of nodes requested for the job."
          },
          {
            "name": "outputPath",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The remote work directory path of the job."
          },
          {
            "name": "parameters",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The job parameters. Note, this is a partial text search."
          },
          {
            "name": "processorsPerNode",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "integer",
            "format": "int64",
            "description": "The number of processors per node requested by the job."
          },
          {
            "name": "retries",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "integer",
            "format": "int64",
            "description": "The number of retry attempts made on this job."
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The date the job began running. Results are rounded by day. You may specify using YYYY-MM-DD format or free form timeframes such as 'yesterday' or '3 days ago'."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "enum": [
              "PENDING",
              "STAGING_INPUTS",
              "CLEANING_UP",
              "ARCHIVING",
              "STAGING_JOB",
              "FINISHED",
              "KILLED",
              "FAILED",
              "STOPPED",
              "RUNNING",
              "PAUSED",
              "QUEUED",
              "SUBMITTING",
              "STAGED",
              "PROCESSING_INPUTS",
              "ARCHIVING_FINISHED",
              "ARCHIVING_FAILED",
              "HEARTBEAT"
            ],
            "type": "string",
            "description": "The job status."
          },
          {
            "name": "submitTime",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The date the job was submitted to the remote execution system to run. Results are rounded by day. You may specify using YYYY-MM-DD format or free form timeframes such as 'yesterday' or '3 days ago'."
          },
          {
            "name": "visible",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": "true",
            "type": "string",
            "description": "Boolean flag indicating whether or not to show deleted jobs. Defaults to false. (Acceptable values are: \"true\", \"false\")"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "integer",
            "format": "int64",
            "description": "Boolean flag indicating whether or not to show deleted jobs. Defaults to false."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "integer",
            "format": "int64",
            "description": "Boolean flag indicating whether or not to show deleted jobs. Defaults to false."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Job"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Submit a new job request.",
        "tags": [
          "jobs"
        ],
        "operationId": "submitJob",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The JSON description of the job to submit. ",
            "schema": {
              "$ref": "#/definitions/JobRequest"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/jobs/v2/{jobId}": {
      "get": {
        "description": "Get details of the job with the specific job id.",
        "tags": [
          "jobs"
        ],
        "operationId": "getJobDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "integer",
            "format": "int64",
            "description": "The id of the job."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Resubmits the job with the given job id as a new job with a unique id.",
        "tags": [
          "jobs"
        ],
        "operationId": "resubmitJob",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the job to resubmit"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The resubmit action request",
            "schema": {
              "$ref": "#/definitions/JobResubmitAction"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "delete": {
        "description": "Deletes a job from the user's history.",
        "tags": [
          "jobs"
        ],
        "operationId": "deleteJob",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the job."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/jobs/v2/{jobId}/pems": {
      "get": {
        "description": "Get the permissions granted for this job.",
        "tags": [
          "jobs"
        ],
        "operationId": "listJobPermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the job."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 100.0,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of results returned from this query"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 0.0,
            "type": "integer",
            "format": "int64",
            "description": "The number of results to skip in the result set for this query"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Permission"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Add a user permission for the given job.",
        "tags": [
          "jobs"
        ],
        "operationId": "addJobPermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the job."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The permission add or update. ",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "delete": {
        "description": "Deletes all permissions on an job.",
        "tags": [
          "jobs"
        ],
        "operationId": "clearJobPermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the job."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/jobs/v2/{jobId}/pems/{username}": {
      "get": {
        "description": "Get a specific user's permissions for a job.",
        "tags": [
          "jobs"
        ],
        "operationId": "getJobPermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the job."
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The username of the api user associated with the permission."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Update a user permission for the given job and username",
        "tags": [
          "jobs"
        ],
        "operationId": "updateJobPermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the job for which the permissions will be updated"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The user for whom the permission will be udpated"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The permission to update",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "delete": {
        "description": "Deletes all permissions for the given user on an job.",
        "tags": [
          "jobs"
        ],
        "operationId": "deleteJobPermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the job for which to delete the user permissions."
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The username for whom to delete permissions"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/jobs/v2/{jobId}/status": {
      "get": {
        "description": "Get the status of the job.",
        "tags": [
          "jobs"
        ],
        "operationId": "getJobStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the job."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/JobStatusSummary"
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/jobs/v2/{jobId}/outputs/listings/{path}": {
      "get": {
        "description": "List the output folder for a job.",
        "tags": [
          "jobs"
        ],
        "operationId": "listJobOutputs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The id of the job."
          },
          {
            "name": "path",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The path to an output file or folder relative to the job output directory. This resource will follow data around as it moves from the execution system to archival storage."
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 100.0,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of results returned from this query"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 0.0,
            "type": "integer",
            "format": "int64",
            "description": "The number of results skipped in the result set returned from this query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FileInfo"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/meta/v2/data": {
      "get": {
        "description": "List and/or search metadata.",
        "tags": [
          "meta"
        ],
        "operationId": "listMetadata",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The query to perform. Traditional MongoDB queries are supported"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 100.0,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of results returned from this query"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 0.0,
            "type": "integer",
            "format": "int64",
            "description": "The number of results skipped in the result set returned from this query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Metadata"
              }
            }
          },
          "400": {
            "description": "Raised if a user does not supply a UUID or supplies an invalid JSON query"
          },
          "401": {
            "description": "Raised if the user is not authorized."
          },
          "403": {
            "description": "Failed to authenticate the user"
          },
          "404": {
            "description": "The specified metadata cannot be found"
          },
          "default": {
            "description": "The service was unable to query the metadata database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Update or Add new Metadata.",
        "tags": [
          "meta"
        ],
        "operationId": "addMetadata",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The metadata to add.",
            "schema": {
              "$ref": "#/definitions/Metadata"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Metadata"
            }
          },
          "400": {
            "description": "Raised if a user supplies an invalid form"
          },
          "401": {
            "description": "Raised if the user is not authorized."
          },
          "403": {
            "description": "Failed to authenticate the user"
          },
          "default": {
            "description": "The service was unable to query the metadata database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/meta/v2/data/{uuid}": {
      "get": {
        "description": "Retrieve Metadata.",
        "tags": [
          "meta"
        ],
        "operationId": "getMetadata",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The uuid of the metadata item"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Metadata"
            }
          },
          "400": {
            "description": "Raised if a user does not supply a UUID"
          },
          "401": {
            "description": "Raised if the user is not authorized."
          },
          "403": {
            "description": "Failed to authenticate the user"
          },
          "404": {
            "description": "The specified metadata cannot be found"
          },
          "default": {
            "description": "The service was unable to query the metadata database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Update or Add new Metadata.",
        "tags": [
          "meta"
        ],
        "operationId": "updateMetadata",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The uuid of the metadata item"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The metadata to update.",
            "schema": {
              "$ref": "#/definitions/Metadata"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Metadata"
            }
          },
          "400": {
            "description": "Raised if a user supplies an invalid form"
          },
          "401": {
            "description": "Raised if the user is not authorized."
          },
          "403": {
            "description": "Failed to authenticate the user"
          },
          "default": {
            "description": "The service was unable to query the metadata database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "delete": {
        "description": "Remove Metadata from the system.",
        "tags": [
          "meta"
        ],
        "operationId": "deleteMetadata",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The uuid of the metadata item"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "Raised if a user supplies no UUID"
          },
          "401": {
            "description": "Raised if the user is not authorized."
          },
          "403": {
            "description": "Failed to authenticate the user"
          },
          "default": {
            "description": "The service was unable to query the metadata database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/meta/v2/schemas": {
      "get": {
        "description": "List and query Metadata Schemata.",
        "tags": [
          "meta"
        ],
        "operationId": "listMetadataSchema",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "A valid query object defining the search parameters."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 100.0,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of results returned from this query"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 0.0,
            "type": "integer",
            "format": "int64",
            "description": "The number of results skipped in the result set returned from this query"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MetadataSchema"
              }
            }
          },
          "400": {
            "description": "Raised if a user does not supply a Schema UUID"
          },
          "403": {
            "description": "Failed to authenticate the user"
          },
          "default": {
            "description": "The service was unable to query the schema database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Add a new Metadata Schema.",
        "tags": [
          "meta"
        ],
        "operationId": "addMetadataSchema",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "A valid JSON Schema object",
            "schema": {
              "$ref": "#/definitions/MetadataSchema"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MetadataSchema"
            }
          },
          "400": {
            "description": "Raised if a user supplies an invalid form or JSON schema"
          },
          "401": {
            "description": "Raised if the user is not authorized."
          },
          "403": {
            "description": "Failed to authenticate the user"
          },
          "default": {
            "description": "The service was unable to query the schema database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/meta/v2/schemas/{uuid}": {
      "get": {
        "description": "Retrieve Metadata Schemata.",
        "tags": [
          "meta"
        ],
        "operationId": "getMetadataSchema",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The uuid of the metadata schema item"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MetadataSchema"
            }
          },
          "400": {
            "description": "Raised if a user does not supply a Schema UUID"
          },
          "403": {
            "description": "Failed to authenticate the user"
          },
          "default": {
            "description": "The service was unable to query the schema database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Update an existing Metadata Schema.",
        "tags": [
          "meta"
        ],
        "operationId": "updateMetadataSchema",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The uuid of the metadata schema item"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "A valid JSON Schema object",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MetadataSchema"
            }
          },
          "400": {
            "description": "Raised if a user supplies an invalid form or JSON schema"
          },
          "401": {
            "description": "Raised if the user is not authorized."
          },
          "403": {
            "description": "Failed to authenticate the user"
          },
          "default": {
            "description": "The service was unable to query the schema database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "delete": {
        "description": "Remove Metadata Schema from the system.",
        "tags": [
          "meta"
        ],
        "operationId": "deleteMetadataSchema",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The uuid of the metadata schema item"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "Raised if a user does not supply a Schema UUID"
          },
          "401": {
            "description": "Raised if the user is not authorized."
          },
          "403": {
            "description": "Failed to authenticate the user"
          },
          "default": {
            "description": "The service was unable to query the schema database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/meta/v2/data/{uuid}/pems": {
      "get": {
        "description": "Get the permission ACL for this metadata.",
        "tags": [
          "meta"
        ],
        "operationId": "listMetadataPermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The uuid of the metadata item"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 100.0,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of results returned from this query"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "default": 0.0,
            "type": "integer",
            "format": "int64",
            "description": "The number of results skipped in the result set returned from this query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          },
          "400": {
            "description": "Raised if a metadata UUID is not supplied or is invalid."
          },
          "403": {
            "description": "Failed to authenticate the user or the user is not authorized to access the specified metadata."
          },
          "404": {
            "description": "The specified metadata cannot be found"
          },
          "default": {
            "description": "The service was unable to query the metadata database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Add a user permission for the given metadata.",
        "tags": [
          "meta"
        ],
        "operationId": "addMetadataPermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The uuid of the metadata item"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The metadata permission to update.",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          },
          "400": {
            "description": "Raised if a valid metadata UUID is not supplied or if the form is invalid."
          },
          "403": {
            "description": "Failed to authenticate the user or the user is not authorized to access the specified metadata."
          },
          "404": {
            "description": "The specified user cannot be found"
          },
          "default": {
            "description": "The service was unable to query the metadata database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "delete": {
        "description": "Deletes all permissions on the given metadata.",
        "tags": [
          "meta"
        ],
        "operationId": "clearMetadataPermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The uuid of the metadata item"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "Raised if a metadata UUID is not supplied or is invalid."
          },
          "403": {
            "description": "Failed to authenticate the user or the user is not authorized to access the specified metadata."
          },
          "default": {
            "description": "The service was unable to query the metadata database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/meta/v2/data/{uuid}/pems/{username}": {
      "get": {
        "description": "Get the user permission for this metadata.",
        "tags": [
          "meta"
        ],
        "operationId": "getMetadataPermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The uuid of the metadata item"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The username of the permission owner"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          },
          "400": {
            "description": "Raised if a metadata UUID is not supplied or is invalid."
          },
          "403": {
            "description": "Failed to authenticate the user or the user is not authorized to access the specified metadata."
          },
          "404": {
            "description": "The specified metadata cannot be found"
          },
          "default": {
            "description": "The service was unable to query the metadata database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "post": {
        "description": "Update a user's permission for the given metadata.",
        "tags": [
          "meta"
        ],
        "operationId": "updateMetadataPermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The uuid of the metadata item"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The username of the permission owner"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "description": "The metadata permission to update.",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          },
          "400": {
            "description": "Raised if a valid metadata UUID is not supplied or if the form is invalid."
          },
          "403": {
            "description": "Failed to authenticate the user or the user is not authorized to access the specified metadata."
          },
          "404": {
            "description": "The specified user cannot be found"
          },
          "default": {
            "description": "The service was unable to query the metadata database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      },
      "delete": {
        "description": "Removes user permissions for a user on a given metadata resource.",
        "tags": [
          "meta"
        ],
        "operationId": "deleteMetadataPermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The uuid of the metadata item"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The username of the permission owner"
          },
          {
            "name": "naked",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "default": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "Raised if a metadata UUID is not supplied or is invalid."
          },
          "403": {
            "description": "Failed to authenticate the user or the user is not authorized to access the specified metadata."
          },
          "default": {
            "description": "The service was unable to query the metadata database"
          }
        },
        "security": [
          {
            "auth": ["PRODUCTION"]
          }
        ]
      }
    },
    "/meta/v2/schemas/{uuid}/pems": {
      "get": {
        "description": "Get the permission for this schema.",
        "tags": [
          "meta"
        ],
        "operationId": "listMetadataSchemaPermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
[...]
