<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="iPlant File Services" verbose="5" parallel="false">
	<test name="files">
		<packages>
			<package name="org.iplantc.service.io.model" />
			<package name="org.iplantc.service.io.dao" />
			<!--<package name="org.iplantc.service.io.queue" />-->
			<package name="org.iplantc.service.io.transform" />
			<package name="org.iplantc.service.io.util" />
		</packages>
	</test>
</suite>
