<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Agave tags-api" verbose="2" parallel="none"
	thread-count="1">
	<groups>
		<run>
			<exclude name="broken" />
			<exclude name="notReady" />
		</run>
	</groups>
	<test name="tags-api">
		<packages>
			<package name="org.iplantc.service.tags.resources.impl" />
		</packages>
	</test>
</suite>
