<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Agave apps-core" verbose="1" parallel="none" thread-count="1" >
    <groups>
        <run>
            <exclude name="broken"/>
            <exclude name="notReady"/>
        </run>
    </groups>
	<test name="apps-core">
		<packages>
			<package name="org.iplantc.service.apps.model" />
			<package name="org.iplantc.service.apps.dao" />
			<package name="org.iplantc.service.apps.managers" />
            <package name="org.iplantc.service.apps.queue" />
            <package name="org.iplantc.service.apps.search" />
            <package name="org.iplantc.service.apps.util" />
		</packages>
	</test>
</suite>
