<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="iPlant Notification Service API" verbose="1" parallel="false">
    <groups>
        <run>
            <exclude name="broken"/>
            <exclude name="notReady"/>
        </run>
    </groups>
    <test name="notifications" >
		  <packages></packages>
    </test>

</suite>
