<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Agave notifications-api" verbose="1" parallel="none">
    <groups>
        <run>
            <exclude name="broken"/>
            <exclude name="notReady"/>
        </run>
    </groups>
    <test name="notifications-api" >
		  <packages>
		      <package name="org.iplantc.service.notification" /> 
		      <package name="org.iplantc.service.notification.resources" /> 
		      <package name="org.iplantc.service.notification.resources.impl" /> 
		  </packages>
    </test>

</suite>
