<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="iPlant Auth Services" verbose="1" parallel="false">
	<test name="auth">
		<packages>
			<package name="org.iplantc.service.auth.model" />
			<package name="org.iplantc.service.auth.dao" />
			<package name="org.iplantc.service.auth.manager" />
		</packages>
	</test> 
</suite>
