<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Agave auth-core" verbose="1" parallel="none">
    <groups>
        <run>
            <exclude name="broken"/>
            <exclude name="notReady"/>
        </run>
    </groups>
	<test name="auth-core">
		<packages>
			<package name="org.iplantc.service.auth.dao" />
		</packages>
	</test> 
</suite>
