<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Agave tags-core" verbose="5" parallel="none"
	thread-count="1">
	<groups>
		<run>
			<exclude name="broken" />
			<exclude name="notReady" />
		</run>
	</groups>
	<test name="tags-core">
		<packages>
		    <package name="org.iplantc.service.notification.events" />
			<package name="org.iplantc.service.tags.model" />
			<package name="org.iplantc.service.tags.dao" />
			<package name="org.iplantc.service.tags.manager" />
			<package name="org.iplantc.service.tags.model" />
		</packages>
	</test>
</suite>
