<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="iPlant Monitor Service" verbose="5" parallel="false"
	thread-count="1">
	<groups>
		<run>
			<exclude name="broken" />
			<exclude name="notReady" />
		</run>
	</groups>
	<test name="model">
		<packages>
			<package name="org.iplantc.service.tags.model" />
		</packages>
	</test>
	<test name="dao">
		<packages>
			<package name="org.iplantc.service.tags.dao" />
		</packages>
	</test>
	<test name="manager">
		<packages>
			<package name="org.iplantc.service.tags.manager" />
		</packages>
	</test>
	<test name="queue">
		<packages>
			<package name="org.iplantc.service.tags.queue" />
		</packages>
	</test>
</suite>
