<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Agave transforms-core" verbose="5" parallel="none">
    <groups>
        <run>
            <exclude name="broken"/>
            <exclude name="notReady"/>
        </run>
    </groups>
    <test name="transforms-core">
        <packages>
        </packages>
    </test>
</suite>
