<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Agave monitors-core" verbose="5" parallel="none" thread-count="1">
  <groups>
    <run>
        <exclude name="broken"/>
        <exclude name="notReady"/>
    </run>
  </groups>
  <test name="monitors-core" >
         <packages>
            <package name="org.iplantc.service.monitor" /> 
            <package name="org.iplantc.service.monitor.dao" />
            <package name="org.iplantc.service.monitor.manager" />
            <package name="org.iplantc.service.monitor.model" />
            <package name="org.iplantc.service.monitor.queue" />
            <package name="org.iplantc.service.notification" />
            <package name="org.iplantc.service.notification.events" />
        </packages>
  </test>
</suite>
