<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Agave realtime-core" verbose="5" parallel="none"
	thread-count="1">
	<groups>
		<run>
			<exclude name="broken" />
			<exclude name="notReady" />
		</run>
	</groups>
	<test name="realtime-core">
		<packages>
		</packages>
	</test>
</suite>
